@charset "utf-8";

* {
  margin: 0;
  padding: 0;
} 

body {
  width: 796px;
  height: auto;
  font: 16px;
}

header {
  width: 100%;
  height: 200px;
  background-image: url(../img/header_background.jpg);
  background-position: center;
  background-size: cover;
  border: solid 2px #00ff00;
}

h1{
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
  color: #fff;
}

table {
  /* table-layout: fixed; */
  word-break: break-all;
  word-wrap: break-all;
}

fieldset {
  width: 380px;
  height: 230px;
  border: solid 2px #00ff00;
}

.text_size{
  width: 270px;
}

.text_size_h {
  height: 50px;
}

.flex {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.flex_in{
  display: flex;
}

.favo_size {
  margin-top: 10px;
  width: 380px;
  height: 220px;
  background-image: url(../img/favo_background.jpg);
  background-position: center;
  background-size: cover;
  border: solid 2px #00ff00;
}

.favo_size_in {
  margin: 140px 50px 0 50px;
  color: #fff;
}

.favo {
  margin-top: 100px;
  font-size: 40px;
}

.open {
  margin-top: 5px;
  width: 796px;
  height: 100px;
  overflow-y: scroll;
  border: solid 2px #00ff00;
}

.view {
  table-layout: fixed;
}

/* ログイン */

.logout_position {
  margin-top: 10px;
  width: 120px;
  height: 100px;
  background-image: url(../img/logout.jpg);
  background-position: center;
  background-size: cover;
  border: solid 2px #00ff00;
}

.logout_size {
  margin: 80px 0 0 30px;
  color: #fff;
}

.logout_flex_in{
  display: flex;
  justify-content: flex-end;
}